<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <h1>Editar habitación</h1>
    <form th:action="@{/habitaciones/update}" method="post">
        <input type="hidden" name="id" th:value="${habitacion.id}">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="numero">Número</label>
                    <input type="text" class="form-control" id="numero" name="numero" th:value="${habitacion.numero}" placeholder="Escriba el número de la habitacion"
                           required pattern="[A-Za-z0-9]+"  title="El número de habitación puede contener letras y números, sin espacios">                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="costo">Costo</label>
                    <input type="text" class="form-control" id="costo" name="costo" th:value="${habitacion.costo}" placeholder="Escriba el costo de la habitacion"
                           required pattern="^\d+(,\d{1,2})?$" title="Ingrese un número válido con hasta dos decimales (ej. 100 o 100,50)">                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="tipoHabitacion">Tipo Habitación</label>
                    <select  id="tipoHabitacion" name="tipoHabitacionId" class="form-control" required>
                        <option th:each="tipoHabitacion: ${tiposHabitacion}"
                                th:value="${tipoHabitacion.id}"
                                th:text="${tipoHabitacion.nombre}"
                                th:selected="${tipoHabitacion.id} == ${habitacion.tipoHabitacion.id}">
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Escriba la descripción (letras, números y puntuación básica)" th:value="${habitacion.descripcion}"
                           required pattern="[A-Za-z0-9áéíóúÁÉÍÓÚüÜñÑ\s.,;:!?]+" title="La descripción puede contener letras, números, espacios, tildes y puntuación básica">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="estado">Estado</label>
                    <select id="estado" name="estado" class="form-control"  th:value="${habitacion.estado}"required>
                        <option>ACTIVA</option>
                        <option>INACTIVA</option>
                    </select>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    <a href="/habitaciones" type="submit" class="btn btn-secondary">Regresar</a>
                </div>
            </div>
        </div>
    </form>
</div>
