<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">

    <div sec:authorize="isAnonymous()" class="alert alert-danger text-center" role="alert">
        Debes iniciar sesión para poder utilizar la aplicación.
    </div>
    <body>
    <!-- Service Start -->
    <div class="container-fluid pt-5">
        <div class="container">
            <div class="section-title">
                <h4 class="text-primary text-uppercase" style="letter-spacing: 5px;">Nuestras Habitaciones</h4>
                <h1 class="display-4">Seguridad, Atención y Comodidad </h1>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="img/img2.jpg" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-bed service-icon"></i> Habitación Premium</h4>
                            <p class="m-0">Ofrece un espacio mas lujoso y cómodo, diseñado para brindar una experiencia
                            superior a los huéspedes, e incluye una cama tamaño Queen con sábanas de alta calidad,
                                decoración elegante y moderna.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="img/img5.jpg" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-bed service-icon"></i> Habitación Clasica</h4>
                            <p class="m-0">Espacio diseñado para alojar cómodamente a una sola persona,
                                cuenta con una cama individual, incluye comodidades esenciales como una mesita de noche,
                                un escritorio y un closet.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="img/img7.jpg" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-bed service-icon"></i> Habitación Doble</h4>
                            <p class="m-0">Habitación para dos personas, dos camas de tamaño normal,
                                es espaciosa mayor que el de una habitación individual.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-5">
                    <div class="row align-items-center">
                        <div class="col-sm-5">
                            <img class="img-fluid mb-3 mb-sm-0" src="img/img8.jpg" alt="">
                        </div>
                        <div class="col-sm-7">
                            <h4><i class="fa fa-bed service-icon"></i> Habitación Suit</h4>
                            <p class="m-0"> Esta es una habitación con un espacio más amplio
                                con zonas de dormitorio separadas conectadas a una sala de estar,
                                incluye una cocina equipada con alacena.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->
    </body>
</div>
</html>


