<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <h1>Editar empleado</h1>
    <form th:action="@{/empleados/save}" th:object="${empleado}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control"  id="nombre" name="nombre" th:value="${cliente.nombre}" placeholder="Escriba el nombre del cliente"
                           required pattern="[A-Za-z\s]+" title="El nombre solo puede contener letras">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="apellido">Apellido</label>
                    <input type="text" class="form-control"  id="apellido" name="apellido" th:value="${cliente.apellido}" placeholder="Escriba el apellido del cliente"
                           required pattern="[A-Za-z\s]+" title="El apellido solo puede contener letras">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="direccion">Dirección</label>
                    <input type="text" class="form-control"  id="direccion" name="direccion" th:value="${cliente.direccion}" placeholder="Escriba la direccion del cliente"
                           required pattern=".{5,}" title="La dirección debe tener al menos 5 caracteres">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="dui">Dui</label>
                    <input type="text" class="form-control"  id="dui" name="dui" th:value="${cliente.dui}" placeholder="Escriba el documento del cliente"
                           required pattern="\d{8}-\d{1}" title="El DUI debe tener el formato 00000000-0">

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    <input type="text" class="form-control"  id="telefono" name="telefono" th:value="${cliente.telefono}" placeholder="Escriba el telefono del cliente"
                           required pattern="\d{4}-\d{4}" title="El número de teléfono debe tener el formato 0000-000, son exactamente 8 dígitos divididos por un guion">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="estado">Estado</label>
                    <select id="estado" name="estado" class="form-control" required>
                        <option>INACTIVO</option>
                        <option>ACTIVO</option>
                    </select>
                </div>
            </div>
        </div>

        <hr>
        <button type="submit" class="btn btn-primary">Modificar</button>
        <a th:href="@{/empleados}" type="submit" class="btn btn-secondary">Regresar</a>

    </form>
</div>