<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <!-- Mostrar mensaje de confirmaciones en caso de exito -->
    <div th:if="${msg != null}">
        <script>
            swal.fire({
                title: "Confirmacion",
                text: '[[${msg}]]',
                icon: "success"
            });
        </script>
    </div>

    <!-- Mostrar mensaje de confirmaciones en caso de error -->
    <div th:if="${error != null}">
        <script>
            swal.fire({
                title: "Error",
                text: '[[${error}]]',
                icon: "error"
            });
        </script>
    </div>

    <h1>Listado de Clientes</h1>
    <a th:href="@{/clientes/create}" class="btn btn-outline-primary">Nuevo cliente</a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Direccion</th>
            <th>Documento</th>
            <th>Telefono</th>
            <th>Nacionalidad</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item: ${clientes}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.nombre}"></td>
            <td th:text="${item.apellido}"></td>
            <td th:text="${item.direccion}"></td>
            <td th:text="${item.documento}"></td>
            <td th:text="${item.telefono}"></td>
            <td th:text="${item.nacionalidad.nombre}"></td>
            <td>
                <a th:href="@{/clientes/details/{id} (id=${item.id}) }" class="btn btn-outline-secondary">Detalles</a>
                <a th:href="@{/clientes/edit/{id} (id=${item.id}) }" class="btn btn-outline-info">Editar</a>
                <a th:href="@{/clientes/remove/{id} (id=${item.id}) }" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:each="pagenumbers : ${pageNumbers}">
                <a class="page-link" th:href="@{/clientes?page=${pagenumber} }" th:text="${pagenumbers}"></a>
            </li>
        </ul>
    </nav>
</div>