<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <h1>Crear nueva Nacionalidad</h1>
    <form th:action="@{/nacionalidades/save}" th:object="${nacionalidad}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="pais">Pais</label>
                    <input type="text" class="form-control" id="pais" name="pais" placeholder="Escriba el pais "
                           required pattern="[A-Za-zñÑ\s]+"  title="El nombre del pais solo puede contener letras">
                </div>
                <div class="form-group">
                    <label for="nombre">Nacionalidad</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Escriba la nacionalidad "
                           required pattern="[A-Za-zñÑ\s]+"  title="La nacionalidad solo puede contener letras">
                </div>
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a th:href="@{/nacionalidades}" type="submit" class="btn btn-secondary" >Regresar</a>
    </form>
</div>
