<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <h1> Crear nueva reservación</h1>
    <form th:action="@{/reservaciones/save}" method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="estado">Estado</label>
                    <select id="estado" name="estadoId" class="form-control" required>
                        <option value="" disabled selected>Seleccione un estado</option>
                        <option th:each="estado : ${estados}" th:value="${estado.id}" th:text="${estado.nombre}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="empleado">Empleado</label>
                    <select id="empleado" name="empleadoId" class="form-control" required>
                        <option value="" disabled selected>Seleccione un empleado</option>
                        <option th:each="empleado : ${empleados}" th:value="${empleado.id}" th:text="|${empleado.nombre} ${empleado.apellido}|"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="cliente">Cliente</label>
                    <select id="cliente" name="clienteId" class="form-control" required>
                        <option value="" disabled selected>Seleccione un cliente</option>
                        <option th:each="cliente : ${clientes}" th:value="${cliente.id}" th:text="|${cliente.nombre} ${cliente.apellido}|"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="habitacion">Habitación</label>
                    <select id="habitacion" name="habitacionId" class="form-control" required>
                        <option value="" disabled selected>Seleccione una habitación</option>
                        <option th:each="habitacion : ${habitaciones}" th:value="${habitacion.id}" th:text="${habitacion.numero}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fechaHoraEntrada">Entrada</label>
                    <input type="datetime-local" class="form-control" id="fechaHoraEntrada" name="fechaHoraEntrada" required>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="fechaHoraSalida">Salida</label>
                    <input type="datetime-local" class="form-control" id="fechaHoraSalida" name="fechaHoraSalida" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="costoTotal">Total</label>
                    <input type="number" class="form-control" id="costoTotal" name="costoTotal" placeholder="Escriba el costo Total de la habitación"
                           required pattern="^\d+(,\d{1,2})?$" title="Ingrese un número válido con hasta dos decimales (ej. 100 o 100,50)">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="observacion">Observación</label>
                    <input type="text" class="form-control" id="observacion" name="observacion" placeholder="Escriba una observación"
                           required pattern="[A-Za-z\s]+" title="La observación solo puede contener letras">
                </div>
            </div>
        </div>

        <hr>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <a href="/reservaciones" type="submit" class="btn btn-secondary">Regresar</a>
                </div>
            </div>
        </div>
    </form>
</div>