
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <h1>Editar reservación</h1>
    <form th:action="@{/reservaciones/update}" method="post">
        <input type="hidden" name="id" th:value="${reservacion.id}">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="estado">Estado:</label>
                    <select  id="estado" name="estadoId" class="form-control" required>
                        <option th:each="estado: ${estados}"
                                th:value="${estado.id}"
                                th:text="${estado.nombre}"
                                th:selected="${estado.id} == ${reservacion.estado.id}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="empleado">Empleado:</label>
                    <select  id="empleado" name="empleadoId" class="form-control" required>
                        <option th:each="empleado: ${empleados}"
                                th:value="${empleado.id}"
                                th:text="|${empleado.nombre} ${empleado.apellido}|"
                                th:selected="${empleado.id} == ${reservacion.empleado.id}">
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="cliente">Cliente:</label>
                    <select  id="cliente" name="clienteId" class="form-control" required>
                        <option th:each="cliente: ${clientes}"
                                th:value="${cliente.id}"
                                th:text="|${cliente.nombre} ${cliente.apellido}|"
                                th:selected="${cliente.id} == ${reservacion.cliente.id}">
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="habitacion">Habitación:</label>
                    <select  id="habitacion" name="habitacionId" class="form-control" required>
                        <option th:each="habitacion: ${habitaciones}"
                                th:value="${habitacion.id}"
                                th:text="${habitacion.numero}"
                                th:selected="${habitacion.id} == ${reservacion.habitacion.id}">
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="fechaHoraEntrada">fechaHoraEntrada:</label>
                    <input type="text" class="form-control"  id="fechaHoraEntrada" name="fechaHoraEntrada" th:value="${reservacion.fechaHoraEntrada}" required>
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="fechaHoraSalida">fechaHoraSalida:</label>
                    <input type="text" class="form-control"  id="fechaHoraSalida" name="fechaHoraSalida" th:value="${reservacion.fechaHoraSalida}" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label for="costoTotal">Costo total:</label>
                    <input type="number" class="form-control" id="costoTotal" name="costoTotal" th:value="${reservacion.costoTotal}"  placeholder="Escriba el costo Total de la habitacion"
                           required pattern="^\d+(,\d{1,2})?$" title="Ingrese un número válido con hasta dos decimales (ej. 100 o 100,50)">
                </div>
            </div>
            <div class="col-md-5">
                <div class="form-group">
                    <label for="observacion">Observación:</label>
                    <input type="text" class="form-control" id="observacion" name="observacion"  th:value="${reservacion.observacion}"  placeholder="Escriba la observacion"
                           required pattern="[A-Za-z\s]+" title="La observacion solo puede contener letras">
                </div>
            </div>
        </div>
        <hr>
        <div class="btn-container">
                    <button type="submit" class="btn btn-warning"><i class="fas fa-edit"></i> Modificar</button>
                    <a href="/reservaciones" type="submit" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Regresar</a>
        </div>
    </form>
</div>

