<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <!-- Mostrar mensaje de confirmaciones en caso de exito -->
    <div th:if="${msg != null}">
        <script>
            swal.fire({
                title: "Confirmación",
                text: '[[${msg}]]',
                icon: "success"
            });
        </script>
    </div>

    <!-- Mostrar mensaje de confirmaciones en caso de error -->
    <div th:if="${error != null}">
        <script>
            swal.fire({
                title: "Error",
                text: '[[${error}]]',
                icon: "error"
            });
        </script>
    </div>

    <h1>Listado de reservaciones</h1>
    <a th:href="@{/reservaciones/create}" class="btn btn-outline-primary">Nueva reservación</a>
    <br>
    <br>
    <div class="table-responsive">
    <table class="table table-striped ">
        <thead>
        <tr>
            <th>ID</th>
            <th>Estados</th>
            <th>Empleado</th>
            <th>Cliente</th>
            <th>Habitación</th>
            <th>fechaHoraEntrada</th>
            <th>fechaHoraSalida</th>
            <th>Costo Total</th>
            <th>Observación</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item: ${reservaciones}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.estado.nombre}"></td>
            <td th:text="|${item.empleado.nombre} ${item.empleado.apellido}|"></td>
            <td th:text="|${item.cliente.nombre} ${item.cliente.apellido}|"></td>
            <td th:text="${item.habitacion.numero}"></td>
            <td th:text="${item.fechaHoraEntrada}"></td>
            <td th:text="${item.fechaHoraSalida}"></td>
            <td th:text="${item.costoTotal}"></td>
            <td th:text="${item.observacion}"></td>

            <td>
                <a th:href="@{/reservaciones/details/{id} (id=${item.id}) }" class="btn btn-outline-secondary">Detalles</a>
                <a th:href="@{/reservaciones/edit/{id} (id=${item.id}) }" class="btn btn-outline-info">Editar</a>
                <a th:href="@{/reservaciones/remove/{id} (id=${item.id}) }" class="btn btn-outline-danger">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item" th:each="pagenumbers : ${pageNumbers}">
                <a class="page-link" th:href="@{/reservaciones?page=${pagenumber} }" th:text="${pagenumbers}"></a>
            </li>
        </ul>
    </nav>
</div>