<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout" xmlns:th="http://www.w3.org/1999/xhtml">

<div layout:fragment="content">
    <h1>Editar tipo de habitación</h1>
    <form th:action="@{/tiposhabitacion/save}" th:object="${tipohabitacion}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre"placeholder="Escriba el nombre del cliente"
                           required pattern="[A-Za-z0-9áéíóúÁÉÍÓÚüÜñÑ\s.,;:!?]+"  title="El nombre solo puede contener letras">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <input type="text" class="form-control" id="descripcion" name="descripcion" placeholder="Escriba la descripción (letras, números y puntuación básica)" th:value="${tipohabitacion.descripcion}"
                           required pattern="[A-Za-z0-9áéíóúÁÉÍÓÚüÜñÑ\s.,;:!?]+" title="La descripción puede contener letras, números, espacios, tildes y puntuación básica">
                </div>
            </div>
        </div>
        <hr>
        <div class="btn-container">
        <button type="submit" class="btn btn-warning"><i class="fas fa-edit"></i> Modificar</button>
        <a th:href="@{/tiposhabitacion}" type="submit" class="btn btn-secondary"><i class="fas fa-arrow-left"></i> Regresar</a>
        </div>
    </form>
</div>